<mat-card class="default-card">
  <div *ngIf="user | async as user; else login">
    <mat-card-header>
      <mat-card-title>Hello {{ user.displayName }}</mat-card-title>
    </mat-card-header>
  </div>
</mat-card>
<ng-template #login>
  <form [formGroup]="loginForm" novalidate (ngSubmit)="onSubmit()">
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Email" formControlName="email" />
            <mat-error *ngIf="loginForm.controls['email'].hasError('required')">
              Email is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="loginForm.controls['email'].hasError('email')">
              Email is <strong>invalid</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input
              matInput
              type="password"
              placeholder="Password"
              formControlName="password"
            />
            <mat-error
              *ngIf="loginForm.controls['password'].hasError('required')"
            >
              Password is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </mat-card-actions>
  </form>
  <p>No login?</p>
  <button mat-raised-button color="primary" (click)="startRegistration()">
    Register
  </button>
</ng-template>
